# Change this file name to .env
# Hereby you can store your passwords and other sensitive information. This file is ignored by git, so you can safely store your secrets here.

# Example of a .env file
MYSQL_ROOT_PASSWORD=exampleRootPassword123$
NEXTCLOUD_DB_PASSWORD=exampleNextcloudPassword123$
MSSQL_SA_PASSWORD=exampleMSSQLPassword123$